<h2>Showing article details  </h2>
<ul>
  <li><b>Title:</b> <%= @article.title %></li>
  <br>
  <br>
  <li><b>Description:</b> <%= @article.description %> </li>
  <br><br>
  <li><b>Created by: </b> <%= @article.user.username %> </li>
</ul>
